SQLALCHEMY_DATABASE_URI=''
SQLALCHEMY_TRACK_MODIFICATIONS=False
SECRET_KEY=""
APP_BASE_URL=""
FRONT_BASE_URL=""
BOOK_IMAGES_FOLDER=''
USER_IMAGES_FOLDER=''
MAILGUN_API_KEY = ""
MAILGUN_DOMAIN = ""
MAILGUN_FROM = ""